body{
    margin: 0;
    text-align: center;
    background-image: linear-gradient(to right bottom, #f25d26, #ee8533, #eaa54d, #e7c170, #e8da99);    
    height: 100vh;
}

/* body{
    animation: changeBg 5s infinite
    alternate linear;
}

@keyframes changeBg{
    0%{
        background-color: #ee6055;
    }
    25%{
        background-color: #60d394;
    }
    50%{
        background-color: #aaf683;
    }
    75%{
        background-color: #ffd97d;
    }
    100%{
        background-color: #ff9b85;
    }
} */